@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hmh1{
     font-family: "Poppins", sans-serif;
    font-size: 35px;
    padding-left: 20px;
    display: inline-block;
    position: relative;
    top: 0px;
    color:black;
    text-shadow: 1.5px 1.5px 3px black;
}
header{
     font-family: "Poppins", sans-serif;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .navbar a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
   
   
}
header .navbar a:hover{
    
    background: white;
    
}
header .navbar a:not(:last-child){
    margin-right: 30pxS;
}
.content{
     font-family: "Poppins", sans-serif;
    max-width: 650px;
    margin: 60px 100px;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(/photos/bg.jpeg)no-repeat;
    background-size: cover;
    background-position: center;
}
label{
    display: none;
}
#check{
    display: none;
}
@media (max-width:960px) {
    header .navbar{
        display: none;
    }
    label{
        display: block; 
        margin-right: 30px;
        margin-top: 0px;
    }
    label .menu:hover{
        
            opacity: 0.5;
     }
     label .close:hover{
        
            opacity: 0.6;
     }
     label .close{
        display: none;
     }    
     #check:checked ~ header .navbar{
        position: fixed;
        background: transparent;
        backdrop-filter: blur(20px);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
    #check:checked ~ header .navbar a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }
    #check:checked ~ header label .menu{
        display: none;
    }
    #check:checked ~ header label .close{
       
        display: block;
        position: fixed;
        top: 50px;

        
    }
    label .menu{
        position: absolute;
        top: 50px;
    }
    
}
.lg{
     font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(/photos/lgbg.jpeg)no-repeat;
    background-size: cover;
    background-position: center;

}
.container{
    position: relative;
    width: 850px;
    height: 500px;
   
}

.loginfrm{
    text-align: center;
    background: transparent;
    right: 0px;
   
   
    width: 50%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}
form{
    width: 100%;
}
.pflo{
    width: 700px;
    height: 500px;
}
.loginpop h1{
    font-family: Bahnschrift SemiBold;
    color: white;
    text-align: center;
}
.pswrd{
    position: relative;
    margin: 30px 0;
}
.usrname{
    position: relative;
    margin: 30px 0;
}
.usrname input{
    width: 100%;
    padding: 15px 70px 15px  18px;
    background: rgba(0, 0, 0, 0.719);
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
}
.pswrd input{
    width: 100%;
    padding: 15px 50px 15px  20px;
    background: rgba(0, 0, 0, 0.719);
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
}
.usrname input::placeholder{
    color: white;
   
    
}
.pswrd input::placeholder{
    color: white;
}
.usrname img{
    position: absolute;
    right: 30px;
    top: 20%;
    

}
.pswrd img{
    position: absolute;
    right: 30px;
    top: 20%; 
}
.frgt a{
    font-family: Bahnschrift SemiBold;
    float: right;
    padding-right:10px ;
    color: black;
    background: transparent;
    backdrop-filter: blur(20px);
    font-weight: bold;
    text-decoration: none;
    margin-top: 5px;
}
.frgt a:hover{
    text-decoration: underline;
}
.loginbtn{
    background: rgba(0, 0, 0, 0.719);
    color: white;
    width:25%;
    height: 24px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14;
    text-transform: uppercase;
    font-weight: bold;
}
.loginbtn:hover{
    border: 1px solid white;
    color: black;
    background: rgba(154, 217, 247, 0.945);
}
.sidequote{
     text-align: center;
     justify-content: center;
     font-weight: bold;
    font-size: 30px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    
}
.register{
     background: transparent;
     backdrop-filter: blur(20px);
     text-align: center;
     color: black;
}
.register a{
  
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    
}
.register a:hover{
    text-decoration: underline;
    
}
